{% extends "base.html" %}

{% block content %}
<h2>Contact</h2>

<p>
If you’d like to get in touch, you can reach me directly using the details below.
</p>

<div class="card">
    <h3>Contact Details</h3>

    <p>
        <strong>Email:</strong>
        <a href="mailto:harshshinde200328@gmail.com">
            harshshinde200328@gmail.com
        </a>
    </p>

    <p>
        <strong>LinkedIn:</strong>
        <a href="https://www.linkedin.com/in/harsh-shinde-1" target="_blank">
            linkedin.com/in/harsh-shinde-1
        </a>
    </p>

    <p><strong>Location:</strong> Dublin, Ireland</p>
    <p><strong>Visa Status:</strong> Stamp 1G (Eligible for full-time work)</p>
</div>
{% endblock %}
