{% extends "base.html" %}

{% block content %}

<section class="hero">
    <div class="hero-content">
        <h1 class="glow-name">Harsh Shinde</h1>

        <h2 class="hero-subtitle">
            Business & Digital Analyst <br>
            Global Management (Digital Disruption)
        </h2>

        <p class="hero-text">
            MSc graduate from Dublin City University with consulting-style experience
            in market entry, digital transformation, and data-driven business strategy.
        </p>
        <p style="color:#9ca3af; margin-top: 10px;">
    Actively seeking graduate or entry-level roles in business analytics,
    digital strategy, consulting, or transformation.
</p>


        <div class="hero-buttons">
            <a href="/projects" class="btn">View Projects</a>
            <a href="/resume" class="btn btn-outline">Download Resume</a>
        </div>
    </div>
</section>

{% endblock %}
